
.primary-category {
  li {
    margin-top: 20px;
    a {
      @include core-24;
      font-weight: bold;
      text-decoration: none;
      &:visited {
        color: $link-colour;
      }
    }
    .lot-description {
      margin-top: 10px;
      margin-bottom: 10px;
      ul {
        list-style: disc;
        li {
          margin-left: 20px;
          padding-bottom: 0px;
        }
      }
    }
  }
}

.panel {
  margin-bottom: 20px !important;
}

.search-summary {
  padding-top: 20px;
  padding-bottom: 20px;
}


.filter-control {
  padding-top: 20px;
  border-bottom: 1px solid $border-colour;
  display: block;
  .heading-medium {
    margin-top: 0px;
    color: $link-colour;
  }
  &:hover {
    background-color: $highlight-colour;
    cursor: pointer;
  }
  .plus {
    font-size: 30px;
    font-weight: bold;
    padding-right: 20px;
    float: right;
  }
}

.filter-group {

}

.form-group {
  margin-top: 20px;
}


  
.filter-feedback {

}