{% extends "layout.html" %}

{% block page_title %}
Digital Marketplace prototype
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="#">Digital Marketplace</a></li>
      <li><a href="/categories/categories">Choose the type of service</a></li>
      <li><a href="/filters/{{ lotURL }}">Enter your {{ lotName }} requirements</a></li>
      <li><a href="/search-results/{{ lotURL }}">{{ lotNameCaps }} that meets your requirements</a></li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">
        {{ services[service].serviceName }}
      </h1>
    </div>
  </div>

  <div class='grid-row'>
    <div class='column-two-thirds'>
      <p>
        {{ services[service].serviceDescription }}
      </p>

    {% for section in services[service].primarySections %}
      <h2 class='heading-medium'>
        {{ section.name }}
      </h2>
    {% if section.type == 'summary' or section.type == 'paragraph' %}
      <p>
        {{ section.content|safe }}
      </p>
    {% elif section.type == 'list' %}
      <ul class='bullet-list'>
        {% for listItem in section.content %}
          <li>{{ listItem }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    {% endfor %}

    </div>
  </div>

  </main>

{% endblock %}


